* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

/* container */
.container {
  width: 100%;
  height: 400px;
  background: linear-gradient(#2f89fc, #344cb7);
  position: relative;
}

/* head */
.head-title {
  color: whitesmoke;
  width: 35%;
  padding: 50px 0px 0px 70px;
}

.head-title div {
  font-size: 30px;
}

.head-title p {
  font-size: 14px;
}

.head-title button {
  padding: 10px 15px 10px 15px;
  background-color: #40514e;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
}

.head-image img {
  width: 300px;
  position: absolute;
  left: 70%;
  top: 18.5%;
}

/* sub */
.sub {
  width: 100%;
  height: 230px;
  background-color: yellowgreen;
}
